<%- include("../../userViews/partials/head.ejs", {title: "Admin"}) %> 
    <section class="adminCont">
        <%- include("../partials/header.ejs") %> 
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Patrocinadores</h4>
            <fieldset class="fieldSetAdm">
                <legend>Edici처n del producto</legend>
                <p>En esta secci처n vas a poder subir, editar y eliminar los sponsors. Resoluci처n recomendada: <b>200px de alto</b></p>
                <form class="formField" action="/admin/sponsors/update/<%= sponsorConsult.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <div>
                        <% if(locals.errors && locals.errors.img){ %> 
                            <div class="alert alert--danger"><%= locals.errors.img.msg %></div>
                        <% } %> 
                        <label class="inputFileField btn btn--green" for="inputFile">
                            <i class='bx bx-upload'></i>
                            Subir imagen
                        </label>
                        <input id="inputFile" name="img" class="uploadSponsor" type="file">
                        <input type="submit" name="sponsor" class="btn btn--blue uploadSponsorBtn" value="Subir banner">  
                    </div>
                    <div class="imagePreviewCont">
                        <div class="imagePreview imagePreviewSponsor">
                            <img src="/img/sponsors/<%= sponsorConsult.image %>" alt="<%= sponsorConsult.image %>">
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </section>
    <div class="modalContAdmGral bannerHome">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <div class="previewImageModal previewImageSponsor">
                <img class="previewSponsor" src="/img/banners/1.jpg" class="" alt="banner">
            </div>
            <div class="btnCont">
                <form action="/admin/sponsors/update/" method="post">
                    <input type="hidden" name="id" class="idInput" value="">
                    <input type="hidden" class="statusBanner" name="status" value="">
                    <button class="btn btn--gray disabledBtn">DESACTIVAR</button>
                </form>
                <a class="btnEditModal" href=""><button class="btn btn--blue">EDITAR</button></a>
                <button class="btn btn--red btnEditDelete">ELIMINAR</button>
            </div>
        </div>
    </div>
    <div class="modalContAdmGral modalEdit">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <h4>Estas editando el banner N째: </h4>
            <form class="formModal" action="">
                <div class="previewEdit">
                    Subir imagen
                </div>
                <label class="btn btn--blue" for="uploadFileEdit">
                    <i class='bx bx-upload'></i>
                    Subir imagen
                </label>
                <input name="bannerImg" class="uploadFileEdit" id="uploadFileEdit" type="file">
            </form>
            <div class="btnCont">
                <button class="btn btn--blue btnEditModal">EDITAR</button>
            </div>
        </div>
    </div>
</body>
</html>