<%- include("../../userViews/partials/head.ejs", {title: "Admin"}) %> 
    <section class="adminCont">
        <%- include("../partials/header.ejs") %> 
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Patrocinadores</h4>
            <fieldset class="fieldSetAdm">
                <legend>Sponsors</legend>
                <p>En esta sección vas a poder subir, editar y eliminar los sponsors</p>
                <form class="formField" action="/admin/uploadSponsor" method="post" enctype="multipart/form-data">
                    <div>
                        <% if(locals.errors && locals.errors.img){ %> 
                            <div class="alert alert--danger"><%= locals.errors.img.msg %></div>
                        <% } %> 
                        <label class="inputFileField btn btn--green" for="inputFile">
                            <i class='bx bx-upload'></i>
                            Subir imagen
                        </label>
                        <input id="inputFile" name="img" class="uploadSponsor" type="file">
                        <input type="submit" name="sponsor" class="btn btn--blue uploadSponsorBtn" value="Subir banner">  
                    </div>
                    <div class="imagePreviewCont">
                        <div class="imagePreview imagePreviewSponsor">
                            Subir una imagen
                        </div>
                    </div>
                </form>
                <div>
                    <h4>Lista de sponsors <div class="btn btn--blue"><i class='bx bx-plus' ></i></div></h4>
                    <div class="bannersListCont">
                        <% sponsorConsult.forEach(sponsor => { %>    
                            <div data-id="<%= sponsor.id %>" class="sponsorItem bannerItem ">
                                <input type="hidden" name="active" value="<%= sponsor.active %>" class="sponsorStatus">
                                <img src="/img/sponsors/<%= sponsor.image %>" alt="sponsor">
                            </div>
                        <% }) %> 
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <div class="modalContAdmGral bannerHome">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <div class="previewImageModal previewImageSponsor">
                <img class="previewSponsor" src="/img/banners/1.jpg" class="" alt="banner">
            </div>
            <div class="btnCont">
                <form action="/admin/bannerstatus/" method="post">
                    <input type="hidden" name="id" class="idInput" value="">
                    <input type="hidden" class="statusBanner" name="status" value="">
                    <button class="btn btn--gray disabledBtn">DESACTIVAR</button>
                </form>
                <a class="btnEditModal" href="/admin/banner/"><button class="btn btn--blue">EDITAR</button></a>
                <button class="btn btn--red btnEditDelete">ELIMINAR</button>
            </div>
        </div>
    </div>
    <div class="modalContAdmGral modalEdit">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <h4>Estas editando el banner N°: </h4>
            <form class="formModal" action="">
                <div class="previewEdit">
                    Subir imagen
                </div>
                <label class="btn btn--blue" for="uploadFileEdit">
                    <i class='bx bx-upload'></i>
                    Subir imagen
                </label>
                <input name="bannerImg" class="uploadFileEdit" id="uploadFileEdit" type="file">
            </form>
            <div class="btnCont">
                <button class="btn btn--blue btnEditModal">EDITAR</button>
            </div>
        </div>
    </div>
</body>
</html>