<%- include("../../partials/head.ejs",{title:"Admin - Equipos"}) %>
    <div class="contenedorAdmin">    
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Equipos</h3>
            <div>
                <%- include("partials/filter.ejs") %> 
                <div class="listaJugadoresAdmin">
                    <div class="listaJugadoresAdminHead listEquiposAdmHead tournamentTableAdmHead">
                        <div>#</div>
                        <div>Equipo</div>
                        <div>Accion</div>
                    </div>
                    <%- include("partials/resultsTeams.ejs") %> 
                </div>
                <% if(pages == true){ %>
                    <div class="pagCont">
                        <div class="pagItem">
                            <a href="<%= pageQuery ? `/admin/teams/search/div?page=${pageQuery-1}&tournamentSelect=${tournamentId}&divisionSelect=${divId}` : `/admin/teams/search/div?tournamentSelect=${tournamentId}&divisionSelect=${divId}` %>"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                        <% for(let i=0;i<pagesCount;i++){ %> 
                            <div class="pagItem">
                                <a href="/admin/teams/search/div?page=<%= i+1 %>&tournamentSelect=<%=tournamentId %>&divisionSelect=<%=divId %>"><%= i+1 %></a>
                            </div>
                        <% } %>
                        <div class="pagItem">
                            <a href="<%= pageQuery ? `/admin/teams/search/div?page=${pageQuery+1}&tournamentSelect=${tournamentId}&divisionSelect=${divId}` : `/admin/teams/search/div?tournamentSelect=${tournamentId}&divisionSelect=${divId}` %>"><i class='bx bx-right-arrow-alt' ></i></a>
                        </div>
                    </div>
                </div>
                <% } %>    
        </div>
    </div>