<%- include("../../partials/head.ejs",{title:"Admin - Equipos"}) %>
    <div class="contenedorAdmin">    
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Equipos</h3>
            <div>
                <%- include("filter.ejs") %> 
                <div class="listaJugadoresAdmin">
                    <div class="listaJugadoresAdminHead listEquiposAdmHead tournamentTableAdmHead">
                        <div>#</div>
                        <div>Equipo</div>
                        <div>Accion</div>
                    </div>
                    <% consultTeams.forEach(team => { %>  
                    <div class="listaJugadoresAdminItem listEquiposAdmItem">
                        <div><%= team.id %></div>
                        <div><%= team.name %></div>
                        <div class="actionListPlayerItem">
                            <i class='bx bx-edit-alt'></i>
                            <i class='bx bxs-detail' ></i>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <% if(pages == true){ %>
                    <div class="pagCont">
                        <div class="pagItem">
                            <a href="<%= pageQuery ? `/admin/teams/search?page=${pageQuery-1}&name=${query}` : `/admin/teams` %>"><i class='bx bx-left-arrow-alt'></i></a>
                        </div>
                        <% for(let i=0;i<pagesCount;i++){ %> 
                            <div class="pagItem">
                                <a href="/admin/teams/search?page=<%= i+1 %>&name=<%= query %>"><%= i+1 %></a>
                            </div>
                        <% } %>
                        <div class="pagItem">
                            <a href="<%= pageQuery ? `/admin/teams/search?page=${pageQuery+1}&name=${query}` : `/admin/teams/search?name=${query}` %>"><i class='bx bx-right-arrow-alt' ></i></a>
                        </div>
                    </div>
                </div>
                <% } %>    
        </div>
    </div>