<%- include("../../userViews/partials/head.ejs", {title: "Admin"}) %> 
    <section class="adminCont">
        <%- include("../partials/header.ejs") %>  
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Organización de fechas</h4>
            <div class="fixtureConfigCont">
                <%- include("partials/filter.ejs") %>
                <div class="dataActual">
                    <div>
                        Torneo actual: <%= tournamentId.name %> 
                    </div>
                    <div>
                        División acual: <%= divisionId.name %> 
                    </div>
                    <div>
                        Cantidad de equipos: <%= teamsConsult.length %>
                    </div>
                    <div>
                        Fechas: <%= teamsConsult.length-1 %>
                    </div>
                    <div>
                        Partidos: <%= (teamsConsult.length/2)*(teamsConsult.length-1) %>
                    </div>
                    <div>
                        Partidos por fecha: <%= (teamsConsult.length/2) %>
                    </div>
                </div>
                <!-- <form class="dateFilter" action="/tournament/filter" method="post">
                    <div>
                        <div class="">
                            <label for="date">Fechas</label>
                            <select name="date" id="date">
                                <% for( let i = 0; i < teamsConsult.length-1; i++ ) { %>
                                    <option  value="<%= i+1 %>"><%= i+1 %></option>
                                <% } %>
                                <option value="">Ver todas</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--blue" type="submit">FILTRAR FECHA</button>
                    </div>
                </form> -->
                <!-- <div class="matchesCont">
                    <div class="matchCont">as
                        <div class="team"></div>
                        <div class="info">
                            <div>vs</div>
                            <div>15/5/22</div>
                        </div>
                        <div class="team"></div>
                    </div>
                </div>-->
                <div class="alert alert--warning msgInfo">Todavía no se creo el fixture para este torneo y división</div>
                <div class="cardFixture">
                    <h5>Generar fixture</h5>
                    <form class="" action="/admin/fixture/automatic" method="post">
                        <label for="">Torneo: <%= tournamentId.name %></label>
                        <label for="">División: <%= divisionId.name %> </label>
                        <label for="">Fecha: 14-05-2022 </label>
                        <label for="">Hora: 15:00hs </label>
                        <input type="hidden" name="tournamentId" value="<%= tournamentId.id %>">
                        <input type="hidden" name="divisionId" value="<%= divisionId.id %>">
                        <input class="btn btn--blue" type="submit" value="Crear fixture">
                    </form>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>