<%- include("../../userViews/partials/head.ejs", {title: "Admin"}) %> 
    <section class="adminCont">
        <%- include("../partials/header.ejs") %>  
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Organización de fechas</h4>
            <div class="fixtureConfigCont">
                <%- include("partials/filter.ejs") %>
                <div class="dataActual">
                    <div>
                        Torneo actual: <%= tournamentId.name %> 
                    </div>
                    <div>
                        División acual: <%= divisionId.name %> 
                    </div>
                    <div>
                        Cantidad de equipos: <%= teamsConsult.length %>
                    </div>
                    <div>
                        Fechas: <%= teamsConsult.length-1 %>
                    </div>
                    <div>
                        Partidos: <%=  (teamsConsult.length/2)*(teamsConsult.length-1) %>
                    </div>
                    <div>
                        Partidos por fecha: <%= (teamsConsult.length/2) %>
                    </div>
                </div>
                <% if(matchWeekConsult.length === 0){ %> 
                    <%- include('partials/fixtureGenerate.ejs')  %> 
                <% }else{ %> 
                    
                    <%- include('partials/matchs.ejs')  %> 
                <% } %> 
            </div> 
        </div>
    </section>
</body>
</html>