<%- include("../../userViews/partials/head.ejs", {title: "Admin"}) %> 
    <section class="adminCont">
        <%- include("../partials/header.ejs") %>  
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Organización de fechas</h4>
            <div class="fixtureConfigCont">
                <%- include("partials/filter.ejs") %>
                <div class="dataActual">
                    <div>
                        Torneo actual: <%= tournamentId.name %> 
                    </div>
                    <div>
                        División acual: $Division
                    </div>
                    <div>
                        Cantidad de equipos: $cant
                    </div>
                </div>
                <!-- <div class="matchesCont">
                    <div class="matchCont">as
                        <div class="team"></div>
                        <div class="info">
                            <div>vs</div>
                            <div>15/5/22</div>
                        </div>
                        <div class="team"></div>
                    </div>
                </div>
            </div> -->
            <form action="/admin/fixture/byHand" method="post">
                <% for(let i = 0; i < teamsConsult.length-1 ; i++ ) { %>
                    <h4>Fecha <%= i+1 %></h4>
                    <input type="hidden" name="data_date" value="<%= i+1 %>">
                    <div class="matchweek">
                        <% for( let j = 0; j < teamsConsult.length/2; j++ ) { %>
                            <div class="partido">
                                <h4>Partido <%= j+1 %></h4>
                                <select name="local_<%= i+1 %>_<%= j+1 %>" id="">
                                    <option value="">Local</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                                <select name="" id="">
                                    <option value="">Visitante</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                <input type="hidden" name="matchLength" value="<%= teamsConsult.length-1 %>">
                <input class="btn btn--blue" type="submit" value="Confirmar fixture">
            </form>
    </section>
</body>
</html>