<%- include("../../partials/head",{title:"Odet - Información"}) %>
<%- include("headPartialDetail") %>
    <div class="infoWeb">En desarrollo</div>
    <div class="teamDetailMoreFicha">
        <h4>Ficha de Equipo</h4>
        <ul>
            <li>Nombre: <%= teamConsult.name %></li>
            <li>Capitan: <a class="link" href="/profile/<%= teamConsult.captainId %>/detail"><%= teamConsult.users.user %></a></li>
            <li>Torneo: <%= teamConsult.tournamentId == null ? "No registrado" : teamConsult.tournamentId %></li>
            <li>División: <%= teamConsult.divisionId == null ? "No registrado" : teamConsult.divisionId %></li>
            <% if(user && user.id == teamConsult.captainId){ %>
                <% if(teamConsult.tournamentId == null || teamConsult.divisionId == null){ %>  
                    <li class="btnLink linkDisabled">Registrar equipo en torneo</li>
                <% } %>  
            <% } %> 
        </ul>
    </div>
<%- include("footerPartialDetail")  %> 