<%- include("../../partials/head.ejs",{title:"Equipos"}) %>
<%- include("../../partials/menuHeader.ejs") %>
<section class="contPrin">
    <form action="">
        <% if(tournamentConsult.length > 0){ %> 
        <div class="formFilterTournament">
            <label for="selectTournament">Seleccionar torneo</label>
            <select name="" id="selectTournament">
                <% for( let i = 0; i < tournamentConsult.length; i++ ) { %>
                    <option value=""><%= tournamentConsult[i].name %></option>
                <% } %>
            </select><br>
        </div>
        <% }else{ %> 
            <div class="infoWeb">No hay registros de torneos</div> 
        <% } %> 
        <% if(divisionConsult.length > 0){ %> 
        <div class="formFilterTournament">
            <label for="divsionTournament">División</label>
            <select name="" id="divsionTournament">
                <% for( let i = 0; i < divisionConsult.length; i++ ) { %>
                    <option value=""><%= divisionConsult[i].name %></option>
                <% } %>
            </select>
        </div>
        <% }else{ %> 
            <div class="infoWeb">No hay registros de divisiones</div> 
        <% } %> 
        <button type="submit" class="btnLink">Actualizar</button>
    </form>
    <% if(teamsConsult.length > 0){ %> 
    <div class="teamsViewsCont">
        <% for( let i = 0; i < teamsConsult.length; i++ ) { %>
        <div class="teamsViewsItem">
            <div class="teamViewsCrest"><img src="/img/teams/default.png" alt="teamLogo"></div>
            <div class="teamViewsInfo">
                <p><%= teamsConsult[i].name %></p>
                <a class="btnLink" href="/teams/<%= teamsConsult[i].id %>/info">Entrar</a>
            </div>
        </div>
        <% } %>
    </div>
    <% }else{ %>
        <div class="infoWeb">No hay resultados para mostrar</div> 
    <% } %> 
</section>
<%- include("../../partials/footer.ejs") %>