<%- include("../partials/head.ejs",{title:"Organizador de torneos"}) %>
<%- include("../partials/menuHeader.ejs") %>
<div class="infoWeb">
    Página en desarrollo - Mas información sobre el proyecto <a target="_blank" href="https://github.com/sosajuani/odet">aquí</a>
</div>

<section class="contPrin contNotiHome">
    <% if(news.length > 0){ %> 
    <% for( let i=0; i<news.length; i++ ) { %>
    <article class="notiArt">
        <h4><%= news[i].title %></h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p><%= news[i].body %></p></div>
        <a class="btnLink" href="/news/detail/<%= news[i].id %>">Seguir leyendo</a>
    </article>
    <% } %> 
    <% }else{ %>
        <div class="infoWeb">No hay resultados para mostrar</div>
    <% } %>
</section>
<%- include("../partials/footer.ejs") %>