<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odet | Iniciar sesion</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <% if (locals.errors) { %>
        <% for( let iterador in errors ) { %>
            <div><%= errors[iterador].msg %> </div>
        <% } %>
    <% } %>
    <form class="loginCont" method="post" action="/login">
        <h3>Bienvenido</h3>
        <input placeholder="Ingresa tu usuario" value="<%= locals.oldData ? locals.oldData.user : null %>" name="user" type="text" required>
        <input placeholder="Ingresa tu contraseña" name="pass" type="password" required>
        <input type="submit" value="Ingresar">
        <p>¿No tenes cuenta?. <a href="/register">Crea una</a></p>
    </form>
</section>
<%- include("../partials/footer.ejs") %>
</body>
</html>