<%- include("../partials/head.ejs",{title:"Noticia vista"}) %>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <div class="contNotiVista">
        <h1>TITULO</h1>
        <div class="notiInfo"><p>Publicado por <%= news.users.user %>  - Hace 1 hora</p></div>
        <% if(user && access == 1){ %> 
        <div class="notiInfo"><p>Acciones: <a class="linkDisabled" href="/admin/news/<%= news.id %>/edit">Editar</a> | <a class="linkDisabled" href="/admin/news/<%= news.id %>/delete">Eliminar</a></div>
        <% } %> 
        <div class="notiContenido">
            <p><%= news.body %></p>
        </div>
        <div class="notiVolver">
            <a href="/"><i class='bx bxs-chevron-left'></i> VOLVER</a>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs");  %>