<form class="dateFilter" action="/admin/fixture/filter" method="get">
    <input type="hidden" name="tournamentId" value="<%= tournamentId %>">
    <input type="hidden" name="divisionId" value="<%= divisionId %>">
    <div>
        <div class="">
            <label for="date">Fechas</label>
            <select name="journey" id="date">
                <% let teams = teamsConsult.length % 2 != 0 ? teamsConsult.length+1-1 : teamsConsult.length-1 %> 
                <% for( let i = 0; i < teams; i++ ) { %>
                    <option <%= locals.journey == i+1 ? "selected" : null  %>  value="<%= i+1 %>"><%= i+1 %></option>
                <% } %>
                <option value="all">Ver todas</option>
            </select>
        </div>
    </div>
    <div>
        <button class="btn btn--blue" type="submit">FILTRAR FECHA</button>
    </div>
</form> 
<div class="matchesCont">
    <% for( let i = 0; i < matchWeekConsult.length; i++ ) { %>
        <div class="matchCont">
            <div class="info infoId">
                <div><%= i+1 %></div>
            </div>
            <div class="team"><%= matchWeekConsult[i].localTeam === null ? "Libre" : matchWeekConsult[i].localTeam.name %></div>
            <div class="info">
                <div>vs</div>
            </div>
            <div class="team"><%= matchWeekConsult[i].visitedTeam === null ? "Libre" : matchWeekConsult[i].visitedTeam.name %></div>
            <div class="info infoDate">
                <div>15/5/22</div>
                <div>15:00hs</div>
            </div>
        </div>
    <% } %>
</div>