<%- include("../../partials/head.ejs",{title: "Equipos"})  %> 
<div>
    <%- include("../../partials/header.ejs")  %> 
    <section class="gralCont">
        <%- include("partials/filter.ejs")  %> 
        <%- include("partials/teams.ejs")  %> 
    </section>
</div>
<%- include("../../partials/footer.ejs")  %> 