<%- include("../../partials/head.ejs",{title: "Equipo"})  %> 
<%- include("../../partials/header.ejs")  %> 
<section class="gralCont">
    <div class="headerTeamDetail">
        <div class="teamCont infoTeamCont">
            <ul class="teamHeadUl">
                <li><a href="">Torneo: <%= teamConsult.tournaments.name %></a></li>
                <li><a href="">División: <%= teamConsult.divisions.name %></a></li>
                <li><a href="">Capitán: <%= teamConsult.users === null ? 'Sin capitán' : teamConsult.users.firstName %></a></li>
            </ul>
        </div>
        <div class="teamCont nameAvatarCont">
            <div class="avatarTeam">
                <img src="/img/teams/<%= teamConsult.avatars.image %>" alt="">
            </div>
            <div class="nameTeam">TEAM ODET</div>
        </div>
        <div class="teamCont trophyCont">
            <div>Titulos</div>
            <div><i class='bx bxs-trophy' ></i> NOMBRE DEL TORNEO</div>
            <div class="btn btn--blue">Ver todos</div>
        </div>
    </div>
    <div class="playersTeamCont">
        <h4>Plantilla</h4>
        <div class="playersTeamGrid">
            <div>N°</div>
            <div>Nombre</div>
            <div>Info</div>
        </div>
        <div class="playersTeamGrid">
            <div>1</div>
            <div>Player</div>
            <div class="info">
                <i class="iconCardRed"></i>
                <i class="iconCaptain"></i>
            </div>
        </div>
    </div>
</section>
<%- include("../../partials/footer.ejs")  %> 