<%- include("../../partials/head.ejs",{title:"Admin - Torneo config"}) %>
    <div class="contenedorAdmin">
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <% 
            if(tournamentValid === false){
        %> 
        <div class="contAdminPrin torneoIndividualCont">
            <div class="infoWeb">El torneo seleccionado no pudo encontrarse</div>
        </div>
        <% }else{ %>  
            <div class="contAdminPrin torneoIndividualCont">
                <h3>Torneo: <%= tournamentConsult.name  %> </h3>
                <div class="alertDanger">Tu torneo tiene <%= divisionControl.divisionsCreated %> divisiones y faltan crear <%= divisionControl.tournamentDivisions - divisionControl.divisionsCreated %> divisiones</div>
            <div>
                <a href="/admin/tournament" class="btnLink" rel="noopener noreferrer">Volver</a>
            </div>
            <div>
                <%   
                    let startDate = new Date(tournamentConsult.startDate);
                    let startDay  = startDate.getDate();
                    let startMonth = startDate.getMonth();
                    let startYear = startDate.getFullYear();
                    let endDate = new Date(tournamentConsult.endDate);
                    let endDay  = endDate.getDate();
                    let endMonth = endDate.getMonth();
                    let endYear = endDate.getFullYear();
                %> 
                <ul class="detailTournamentUl">
                    <li class="detailTournamentLi">Cantidad de equipos: <%= teamsTournament %></li>
                    <li class="detailTournamentLi">Cantidad de divisiones: <%= divisionControl.divisionsCreated %></li>
                    <li class="detailTournamentLi">Inicio: <%= `${startDay}/${startMonth+1}/${startYear}` %></li>
                    <li class="detailTournamentLi">Final: <%= `${endDay}/${endMonth+1}/${endYear}` %></li>
                    <li class="detailTournamentLi">Temporada: --- </li>
                    <li class="detailTournamentLi">Tipo de torneo: <%= typeTournament.type %></li>
                    <li class="detailTournamentLi">Tipo de descenso: <%= declineTournament.type %> </li>
                    <li class="detailTournamentLi">Tipo de ascenso: <%= ascentTournament.type %> </li>
                    <li class="detailTournamentLi">Tarjetas: -- </li>
                    <li class="detailTournamentLi">Goles: -- </li>
                    <li class="detailTournamentLi">Asistencias: -- </li>
                    <li class="detailTournamentLi">Suspenciones: -- </li>
                </ul>
            </div>
        </div>
        <% } %>
    </div>