<section class="contPrin">
    <% if(errorConsult === true){ %>
        <div class="infoWeb">Faltan registros de torneos o divisiones</div>
    <% }else{ %>  
    <%- include("filterTournament.ejs") %> 
    <div class="torneoTableContHome">
        <div class="torneoTableContHead">
            <div>#</div>
            <div>Equipo</div>
            <div>PJ</div>
            <div>G</div>
            <div>E</div>
            <div>P</div>
            <div class="ocultarMobileTorneo">GF</div>
            <div class="ocultarMobileTorneo">GC</div>
            <div class="ocultarMobileTorneo">DG</div>
            <div>Pts</div>
        </div>
        <% for( let i = 0; i < statisticsConsult.length; i++ ) { %>
            <div class="torneoTableContItem">
                <div><%= i +1  %></div>
                <div><%= statisticsConsult[i].teams.name %></div>
                <div><%= statisticsConsult[i].played %></div>
                <div><%= statisticsConsult[i].win %></div>
                <div><%= statisticsConsult[i].drawn %></div>
                <div><%= statisticsConsult[i].lost %></div>
                <div class="ocultarMobileTorneo"><%= statisticsConsult[i].gf %></div>
                <div class="ocultarMobileTorneo"><%= statisticsConsult[i].ga %></div>
                <div class="ocultarMobileTorneo"><%= statisticsConsult[i].gd %></div>
                <div><%= statisticsConsult[i].pts %></div>
            </div>
        <% } %>
    </div>
    <% } %>
</section>