<%- include("../../userViews/partials/head.ejs", {title: "Admin"}) %> 
    <section class="adminCont">
        <%- include("../partials/header.ejs") %> 
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Bienvenido a tu panel de administración</h4>
            <div class="homeInfo">
                <p>Hola! $nombreUsuario. Acá vas a poder modificar todos los aspectos de la página.</p>
                <p>¿Dudas?, Visita la web de <a class="linkP" href="">ODET</a> o bien envía un mail a <a class="linkP" href="">contacto@juansosa.com.ar</a></p>
            </div>
            <fieldset class="fieldSetAdm">
                <legend>Banners</legend>
                <p>En esta sección vas a poder subir, editar y eliminar los banners de inicio</p>
                <form class="formField" action="/admin/uploadBanner" method="post" enctype="multipart/form-data">
                    <div>
                        <% if(locals.errors && locals.errors.img){ %> 
                            <div class="alert alert--danger"><%= locals.errors.img.msg %></div>
                        <% } %> 
                        <label class="inputFileField btn btn--green" for="inputFile">
                            <i class='bx bx-upload'></i>
                            Subir imagen
                        </label>
                        <input id="inputFile" name="img" class="uploadBanner" type="file">
                        <input type="submit" name="banner" class="btn btn--blue uploadBannerBtn" value="Subir banner">  
                    </div>
                    <div class="imagePreviewCont">
                        <div class="imagePreview">
                            Subir una imagen
                        </div>
                    </div>
                </form>
                <div>
                    <h4>Lista de banners <div class="btn btn--blue"><i class='bx bx-plus' ></i></div></h4>
                    <div class="bannersListCont">
                        <% bannerConsult.forEach(banner => { %>    
                            <div data-id="<%= banner.id %>" class="bannerItem openModal">
                                <img src="/img/banners/<%= banner.image %>" alt="banner">
                            </div>
                        <% }) %> 
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <div class="modalContAdmGral bannerHome">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <div class="previewImageModal">
                <img src="/img/banners/1.jpg" class="" alt="banner">
            </div>
            <div class="btnCont">
                <form action="/admin/bannerstatus/" method="post">
                    <input type="hidden" name="id" class="idInput" value="">
                    <input type="hidden" class="statusBanner" name="status" value="">
                    <button class="btn btn--gray disabledBtn">DESACTIVAR</button>
                </form>
                <a class="btnEditModal" href="/admin/banner/"><button class="btn btn--blue">EDITAR</button></a>
                <button class="btn btn--red btnEditDelete">ELIMINAR</button>
            </div>
        </div>
    </div>
    <div class="modalContAdmGral modalEdit">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <h4>Estas editando el banner N°: </h4>
            <form class="formModal" action="">
                <div class="previewEdit">
                    Subir imagen
                </div>
                <label class="btn btn--blue" for="uploadFileEdit">
                    <i class='bx bx-upload'></i>
                    Subir imagen
                </label>
                <input name="bannerImg" class="uploadFileEdit" id="uploadFileEdit" type="file">
            </form>
            <div class="btnCont">
                <button class="btn btn--blue btnEditModal">EDITAR</button>
            </div>
        </div>
    </div>
</body>
</html>