<% if(pageVersion == "adm"){ %> 
    <%- include("../userViews/partials/head.ejs",{title: "error"}) %> 
    <section class="adminCont">
        <%- include("../adminViews/partials/header.ejs") %> 
        <div class="contGralAdmin gralCont">
            <% if(locals.msg){ %> 
                <div class="alert alert--danger"><%= locals.msg %> - <a href="/admin/sponsors">VOLVER</a></div>
            <% }else{ %> 
                <div class="alert alert--danger">REGISTRO NO ENCONTRADO - <a href="/admin/sponsors">VOLVER</a></div>
            <% } %> 
        </div>
    </section>
    </body>
    </html>
<% } %> 
<% if(pageVersion == "user"){ %> 
    <%- include("../userViews/partials/head.ejs",{title: "error"})  %> 
    <%- include("../userViews/partials/header.ejs")  %> 
    <section class="gralCont">
        <div class="alert alert--danger"><%= errorMsg %>  - <a href="/<% redirect %> ">VOLVER</a></div>
    </section>
    <%- include("../userViews/partials/footer.ejs")  %> 
<% } %> 