<%- include("../../partials/head.ejs",{title: "Inicio"})  %> 
<div>
    <%- include("../../partials/header.ejs")  %> 
    <section class="gralCont">
        <%- include("partials/filter.ejs")  %> 
        <%- include("partials/filterJourney.ejs") %> 
        <%- include("partials/match.ejs") %> 
    </section>
</div>
<%- include("../../partials/footer.ejs")  %> 