<%- include("../../partials/head.ejs",{title: "Inicio"})  %> 
<div>
    <%- include("../../partials/header.ejs")  %> 
    <section class="gralCont">
        <%- include("partials/filter.ejs")  %> 
        <%- include("partials/filterJourney.ejs") %> 
        <% if(matchWeekConsult.length === 0){ %> 
            <div class="alert alert--warning">No existe esta jornada</div>
        <% }else{ %> 
            <%- include("partials/match.ejs") %> 
        <% } %> 
    </section>
</div>
<%- include("../../partials/footer.ejs")  %> 