<%- include("../../partials/head.ejs",{title:"Registro"}) %>
<%- include("../../partials/menuHeader.ejs") %>
<section class="contPrin">
    <% if(locals.completed){ %>
        <div class="regCompleted">
            <p class="loginFormTitle">¡Registro completado!</p>
            <p>Registro completado inicie sesión para terminar los últimos pasos</p>
            <a class="btnLink" href="/login">INICIAR SESIÓN</a>
        </div>
    <% }else{ %>     
    <form class="loginCont" method="post" action="/register">
        <h3 class="loginFormTitle">Bienvenido</h3>
        <input <% if (locals.errors && locals.errors.user || locals.userError && locals.userError.msg) { %> class="errFormInput" <% } %> placeholder="Ingresa tu usuario" value="<%= locals.oldData ? locals.oldData.user:null %>"  name="user" type="text" >
        <% if (locals.errors && locals.errors.user) { %>
            <p class="errForm"><%= locals.errors.user.msg %></p>
        <% } %>
        <% if (locals.userError && locals.userError.msg) { %>
            <p class="errForm"><%= locals.userError.msg %></p>
        <% } %>
        <input <% if (locals.errors && locals.errors.firstName) { %> class="errFormInput" <% } %> placeholder="Ingresa tu nombre" value="<%= locals.oldData ? locals.oldData.firstName:null %>"  name="firstName" type="text" >
        <% if (locals.errors && locals.errors.firstName) { %>
            <p class="errForm"><%= locals.errors.firstName.msg %></p>
        <% } %>       
        <input <% if (locals.errors && locals.errors.lastName) { %> class="errFormInput" <% } %> placeholder="Ingresa tu apellido" value="<%= locals.oldData ? locals.oldData.lastName:null %>"  name="lastName" type="text" >
        <% if (locals.errors && locals.errors.lastName) { %>
            <p class="errForm"><%= locals.errors.lastName.msg %></p>
        <% } %>
        <input <% if (locals.errors && locals.errors.email || locals.emailError && locals.emailError.msg) { %> class="errFormInput" <% } %> placeholder="Ingresa tu email" name="email" value="<%= locals.oldData ? locals.oldData.email:null %>" type="email" >
        <% if (locals.errors && locals.errors.email) { %>
            <p class="errForm"><%= locals.errors.email.msg %></p>
        <% } %>
        <% if (locals.emailError && locals.emailError.msg) { %>
            <p class="errForm"><%= locals.emailError.msg %></p>
        <% } %>
        <select <% if (locals.errors && locals.errors.rol) { %> class="errFormInput" <% } %> name="rol">
            <option value="">Seleccionar una opción </option>
            <% for( let i = 1; i < rol.length; i++ ) { %>
                <option value="<%= rol[i].id %>"><%= rol[i].name %></option>
            <% } %>
        </select>
        <% if (locals.errors && locals.errors.rol) { %>
            <p class="errForm"><%= locals.errors.rol.msg %></p>
        <% } %>
        <input <% if (locals.errors && locals.errors.pass) { %> class="errFormInput" <% } %> placeholder="Ingresa tu contraseña" name="pass" type="password" >
        <input <% if (locals.errors && locals.errors.pass) { %> class="errFormInput" <% } %> placeholder="Ingresa tu contraseña nuevamente" name="pass2" type="password" >
        <% if (locals.errors && locals.errors.pass) { %>
            <p class="errForm"><%= locals.errors.pass.msg %></p>
        <% } %>
        <input type="submit" value="Registrarse">
        <p>¿Tenes cuenta?. <a href="/login">Ingresa</a></p>
    </form>
    <% } %> 
</section>
<%- include("../../partials/footer.ejs") %>