<%- include("../partials/head.ejs",{title: 'perfil'}) %>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <div class="headProfile">
        <div class="headProfileAvatarName">
            <div class="avatarProfile">
                <img src="/img/users/<%= userTable.avatars.image %>" alt="user avatar"> 
            </div>
        <div>
            <h3 class="headProfileName"><%= userTable.firstName+" "+userTable.lastName %></h3>
            <p class="headProfileName">Email: <%= userTable.email %></p>
        </div>
        </div>
        <% if(referee !== 1){ %>
            <% if(playerTable && playerTable.teams != null){ %> 
                <div class="profileTablePlayer">
                    Tabla de Jugador
                    <ul>
                        <li>Equipo: <%= playerTable.teamConfirm == 0 ? "Falta confirmación" : playerTable.teams.name %> </li>
                        <li>Goles: <%= playerTable.goals %></li>
                    </ul>
                </div>
            <% }else{ %> 
                <div class="infoWeb">No estas registrado en un equipo</div>
            <% } %> 
        <% } %> 
    </div>

</section>
<%- include("../partials/footer.ejs") %>