<%- include("../partials/head.ejs",{title: 'perfil'}) %>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <div class="headProfile">
        <div class="avatarProfile"></div>
        <h3><%= userTable.firstName+" "+userTable.lastName %></h3>
        <ul>
            <li>Email: <%= userTable.email %></li>
        </ul>
        <% if(referee !== 1){ %>
            <% if(playerTable.teams != null){ %> 
                <div>
                    Tabla de Jugador
                    <ul>
                        <li>Equipo: <%= playerTable.teams.name %></li>
                        <li>Goles: <%= playerTable.goals %></li>
                    </ul>
                </div>
            <% }else{ %> 
                <div class="infoWeb">No estas registrado en un equipo</div>
            <% } %> 
        <% } %> 
    </div>

</section>
<%- include("../partials/footer.ejs") %>