<%- include("../../partials/head.ejs",{title:"Admin - Divisiones"}) %>
    <section class="contenedorAdmin">    
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Divisiones </h3>
            <div class="divisionsCont">
                <div>
                    <a class="btnLink" href="/admin/divisions">Volver</a>
                </div>
                <ul class="divisionList ulBasic">
                    <% for( let i=0;i<consultDivision.length;i++ ){ %>
                        <li>
                            <%= consultDivision[i].name %>
                            <div>
                                <form action="/admin/division/<%= consultDivision[i].id %>/delete?_method=DELETE" method="post">
                                    <button class="btnLink btnDivision" type="submit"><i class='bx bxs-trash'></i></button>
                                </form>
                                <a class="btnLink btnDivision" href="/admin/division/<%= consultDivision[i].id %>/edit"><i class='bx bx-edit'></i></a>
                            </div> 
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
